/EjerciciosEnClases/Tarea 3/SoquetsTCP/nbproject/private/
/EjerciciosEnClases/Tarea 3/SoquetsTCP/build/
/EjerciciosEnClases/Tarea 3/Ahorcado/nbproject/private/
/EjerciciosEnClases/Tarea 3/Ahorcado/build/
/Laboratorios/Laboratorio 1/JavaApplication15/nbproject/private/
/Laboratorios/Laboratorio 1/RMI/nbproject/private/
/Laboratorios/Laboratorio 1/PagosRuat/nbproject/private/
/Laboratorios/Laboratorio 1/PagosRuat/build/
/Laboratorios/Laboratorio 2/Lab2/nbproject/private/
